<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Recommender System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <style>
        .text-white {
            color: white
        }
        .contact-info {
            margin-top: 20px;
        }
    </style>
    
    <body style="background-color: black;">
        <nav class="navbar" style="background-color: #96C9F4;">
            <a class="navbar-brand">My Book Recommender</a>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/recommend">Recommend</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-white" style="font-size:50px">Contact</h1>
                    <div class="contact-info">
                        <h3 class="text-white">Email: <a href="mailto:mihir.d1234@gmail.com" class="text-white">mihir.d1234@gmail.com</a></h3>
                        <h3 class="text-white">LinkedIn: <a href="https://www.linkedin.com/in/mihirdamania/" target="_blank" class="text-white">https://www.linkedin.com/in/mihirdamania/</a></h3>
                        <h3 class="text-white">GitHub: <a href="https://github.com/23MD" target="_blank" class="text-white">https://github.com/23MD</a></h3>
                        <!-- <h3 class="text-white">Personal Website: <a href="https://your-website.com" target="_blank" class="text-white">your-website.com</a></h3> -->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
